@{
    ViewData["Title"] = "Home Page";
}

<h1>Pagina da Escola Pedro Fonseca</h1>
<h2>Escola de periodo integral com cursos integrados</h2>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
